pipeline/Demo  On Filter.json
{
	"name": "Demo  On Filter",
	"properties": {
		"activities": [
			{
				"name": "MetaData_List_of_List",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText_datelakefile",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureDataLakeStoreReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter_Files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "MetaData_List_of_List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('MetaData_List_of_List').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'EMP')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}