pipeline/DynamicFileLoad.json
{
	"name": "DynamicFileLoad",
	"properties": {
		"activities": [
			{
				"name": "Getmetadatafile",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DatasetDelimitedTextBlobravi",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFileNames",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Getmetadatafile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Getmetadatafile').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LookupGetTabletoLoad",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[usp_GetTableTOLoad]",
									"storedProcedureParameters": {
										"SourceFileName": {
											"type": "String",
											"value": {
												"value": "@{item().name}",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "AzureSqldataset",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "CopyDatatoStaging",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LookupGetTabletoLoad",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@{item().name}",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DatasetDelimitedTextBlobravi",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTableDynamic",
									"type": "DatasetReference",
									"parameters": {
										"StagingTableName": {
											"value": "@{activity('LookupGetTabletoLoad').output.firstRow.StagingTableName}",
											"type": "Expression"
										},
										"StagingSchemaName": {
											"value": "@{activity('LookupGetTabletoLoad').output.firstRow.StagingSchemaName}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}