pipeline/Dynamicload.json
{
	"name": "Dynamicload",
	"properties": {
		"activities": [
			{
				"name": "Foreach_multipletables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_ProcessControl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_ProcessControl').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LoadSQLtoSQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SourceAzureSqlTableDyn",
									"type": "DatasetReference",
									"parameters": {
										"SourceTableName": {
											"value": "@item().sourcetable_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "TargetAzureSqlTableDyn",
									"type": "DatasetReference",
									"parameters": {
										"TargetTableName": {
											"value": "@item().targettable_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup_ProcessControl",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AzureSqldataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}