pipeline/pipelineCopysqldbtocosmos.json
{
	"name": "pipelineCopysqldbtocosmos",
	"properties": {
		"activities": [
			{
				"name": "Copydatasqltoblob",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select *from emp",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AzureSqldataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Blobdataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copydatablobtocosmos",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copydatasqltoblob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "CosmosDbMongoDbApiSink",
						"writeBatchTimeout": "00:30:00",
						"writeBehavior": "insert"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Blobdataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CosmosDbMongoDbApiCollectiondataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Websendingemail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copydatasqltoblob",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-30.eastus2.logic.azure.com:443/workflows/adeb5f675aef450a8e152380aeb812a2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=eaReTMsHUms3HS6y_rz57TLEnjoZf7TvNrlUKc_Em0s",
					"method": "GET"
				}
			},
			{
				"name": "Metadata_upd",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copydatasqltoblob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[metadata_sp_ins]",
					"storedProcedureParameters": {
						"copyduration": {
							"value": {
								"value": "@activity('Copydatasqltoblob').output.CopyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"datafactoryname": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"datareads": {
							"value": {
								"value": "@activity('Copydatasqltoblob').output.dataread",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"datawrites": {
							"value": {
								"value": "@activity('Copydatasqltoblob').output.datawritten",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"executionenddate": {
							"value": {
								"value": "@activity('Copydatasqltoblob').ExecutionEndTime ",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"executionstarttime": {
							"value": {
								"value": "@activity('Copydatasqltoblob').ExecutionStartTime ",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipelineid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelinename": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": {
								"value": "@activity('Copydatasqltoblob').status",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LinkedServiceAzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}