pipeline/Pl_Sales_Copy.json
{
	"name": "Pl_Sales_Copy",
	"properties": {
		"activities": [
			{
				"name": "List Sales tables",
				"description": "select *from INFORMATION_SCHEMA.TABLES where table_schema='SalesLT' and table_type='BASE TABLE'\nand table_name like 'S%'",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select *from INFORMATION_SCHEMA.TABLES where table_schema='SalesLT' and table_type='BASE TABLE'\nand table_name like 'S%'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_7am",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy Sales Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List Sales tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List Sales tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data sales",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_tables_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"Table_Name": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"Schema_Name": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_list_dynamic_files",
									"type": "DatasetReference",
									"parameters": {
										"File_Name": {
											"value": "@concat(item().TABLE_NAME,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-07-24T02:54:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}